@{
    ViewData["Title"] = "Acceso denegado";
}
<div class="w3-container">
    <div class="w3-label w3-theme-d4 w3-center w3-round-xxlarge w3-border-black">
        <h2>No tienes acceso a esta página</h2>
        <p>Por favor, presiones el botón para regresar al inicio</p>


        <p>
            <a asp-controller="Home" asp-action="Index" class="w3-button w3-theme-dark w3-round-xxlarge"><i class="fas fa-home"></i> Inicio</a>
        </p>
    </div>
</div>
