@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" >
    <img src="~/img/wmsblanco.png" width="450" />
    <ul class="text-white text-medium" style="font-size:24px">
        <li>
            Localiza rápidamente los productos que necesitas en tu almacén, ahorrando tiempo y dinero.
        </li>
        <li>
            Optimiza el espacio de tu almacén, aprovechando al máximo la capacidad de almacenamiento y reduciendo los costos operativos.
        </li>
        <li>
            Facilita el control de inventario, manteniendo un registro actualizado de las entradas y salidas de los productos, evitando el desabastecimiento o el exceso de existencias.
        </li>
        <li>
            Brinda información valiosa sobre el rendimiento de tu almacén, generando reportes y estadísticas que te permiten tomar mejores decisiones y mejorar la calidad de tu servicio.
        </li>
    </ul>
</div>
